body {
    background-color: #FFFFFF;
    font: Copperplate;
    align: center;
    font-color: black;
}

h {
    font: Noto-Sans;
    background-color: black;
}

p {
    background-color: #ff7575;
    font: Ubuntu;
}

div {
     font: Calibri;
     background-color: #3399FF;
     div.solid {border-style: solid;}
     padding-top: 50px;
     padding-right: 30px;
     padding-left: 30px;
     padding-bottom: 50px;
}

img {
    background-color: lightgray;
    padding-top: 70px;
    padding-left: 50px;
    padding-right:50px;
    padding-bottom: 70px;
    box-align: right;
    box-sizing: border-box;
}


<!---&--->

